/* When someone enters your game, you only want them to see the opening and the option buttons. The code below will use the display property to hide certain parts of the story. Remove the comments from the code below when you're ready for that step!*/

/* 
.option-one-screen, 
.option-two-screen, 
.option-one-end, 
.option-two-end  {
   display:none;
}
*/


/* Feel free to change any of the styling below!*/
html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(244, 236, 224);
}

/* Style the body with a background color or image if desired */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

/* Style the title of your story */
.title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

    /* open page*/
.open-page{
}

    /*first page*/
.primer-page{
}



/*TEXT SHOWING UP*/


    /*boy names*/
.name-boy{
}

    /*girl names*/
.name-girl{
}

/* Style the story opening container */



/* Style the story image */
.story-opening img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Style the story opening message */
.story-opening h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

/* Style the buttons container */
.buttons {
    margin: 20px;
}

/* Style the option buttons */
button {
    font-size: 16px;
    padding: 10px 20px;
    margin: auto;
    background-color: #862d6e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

button:hover {
    background-color: #5f1a4c;
    transform: scale(1.07);
}

.rethink-gender{
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    background-color: rgb(221, 213, 200);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style the screens for option one and option two */


/* Style the images in the screens */
.option-one-screen img,
.option-two-screen img,
.option-one-end img,
.option-two-end img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Style the text in the screens */
.option-one-screen h1,
.option-two-screen h1,
.option-one-end h1,
.option-two-end h1 {
    font-size: 20px;
    margin-bottom: 20px;
}
